.input {
  display: block;
  width: 100%;
  max-width: 350px;
  padding: 0 10px;
  margin: 0 0 15px;
  height: 40px;
  border: 1px solid black;
  color: black;
  
  
  &::placeholder {
    color: #999;
  }
}

.textarea {
  display: block;
  width: 100%;
  max-width: 350px;
  padding: 10px;
  margin: 0 0 15px;
  height: 150px;
  border: 1px solid black;
  color: black;
  risize: none;
  
  &::placeholder {
    color: #999;
  }
}

.button{
  height: 51px;
  background: #000;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  padding: 0 15px;
  margin: 0 auto 40px;
  border: 0;
  display: block;
  width: 233px;
  
  &:disabled {
    opacity: 0.2;
  }
  
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.form {
  display: block;
  margin: 50px auto;
  max-width: 350px;
  
  
  h1 {
    margin: 0 0 30px;
    text-align: center;
  }
}