.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroText {
  text-align: center;
  padding: 50px;
}